html,body {
    font-size: 14px;
}
.payment_plus {
    background-color: #5CB85C;
}
.payment_plus td {
    color: #FFFFFF;
}
.payment_minus {
    background: #F2DEDE;
}
.payment_minus td {
    color: #B94A5A;
    font-weight: bold;
}
.has-error  {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.answer {
    margin: 0.5rem;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}